
.tracks,
.mixes,
.promo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.card h3 {
    margin: 10px 0;
}

.promo iframe {
    width: 80%;
    border: none;
}

.photo-wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.photo-wall img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
#story {
    background-color: #1c1c1c;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

#story h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff4500;
}

#story a,
#story a:visited {
    color: #ff4500;
    text-decoration: none;
    text-decoration: line-through;
}

.story-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.2em;
    text-align: left;
}

.story-content p {
    margin-bottom: 20px;
}


.photo-wall {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 10px;
padding: 20px;
}

.photo-wall a {
display: block;
border-radius: 5px;
overflow: hidden;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease;
}

.photo-wall a:hover {
transform: scale(1.05);
}

.photo-wall img {
width: 100%;
height: auto;
display: block;
object-fit: cover;
border-radius: 5px;
}

.square-video {
    width: 100%;
    aspect-ratio: 16 / 9; 
    border: none;
}